/* CSS Document */
.text1{
text-align:right;
font:"ו";
font-size:12px;
}

.img{
text-align:center;
}

.text2{
text-align:center;
font:"ו";
font-size:14px;
}

.text3{
text-align:center;
font:"ו";
font-size:12px;
}